/* @import "node_modules/react-toggle-switch/dist/css/switch.min.css"; */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.pricingWrapper {
    height: 100vh;
    background-image: url('../../images/BmwNight.jpg');
    background-size: cover;
    color: rgb(206, 205, 205);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto';
}

.title {
    font-size: 130%;
}

.subStatement {
    font-family: 'Gloria Hallelujah'
}

.pricingContainer {
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    padding: 5vh 0vh;
    height: 30vh;
    width: 90vw;
    /* margin-left: 12.5vw; */
}

#bookingButton {
    margin-top: 200px;
    padding: 10px;
    width: 100px;
    font-family: 'Fjalla One';
    font-size: 15px;
    background-color: rgb(124, 124, 124);
    color: white;
    border: none;
    transition: 0.5s;
}

#bookingButton:hover {
    background-color: black;
}

/* -------------Toggle Switch---------------- */
.switch {
    border:1px solid #ccc;
    width:50px;
    height:26px;
    border-radius:13px;
    cursor:pointer;
    display:inline-block
}

.switch-toggle {
    border:1px solid #999;
    box-shadow:1px 1px 1px #ccc;
    width:25px;
    height:24px;
    left:0;
    border-radius:12px;
    background:#fff;
    position:relative;
    transition:left .2s ease-in-out
}

.switch.on {
    background:gray;
}

.switch.on .switch-toggle {
    left:23px
}

.switch.disabled {
    cursor:not-allowed
}
/* -------------Toggle Switch---------------- */


@media (max-width: 500px) {
    .pricingContainer {
        width: 100vw;
    }

    .disclaimer {
        background-color: black;
        background: rgba(0,0,0,0.5);
        font-family: 'Roboto';
        font-size: 70%;
        color: rgb(206, 205, 205);
        transition: 0.5s;   
        width: 70vw;     
    }
}