@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

.HeaderWrapper {
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    background-color: burlywood;
}

.logo {
    font-family: 'Racing Sans One';
    font-size: 24pt;
}

img {
    height: 100%;
}